
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import 'tailwindcss';

@layer base {
  :root {
    --dark-gray: #2B2C37;
    --medium-gray: #828FA3;
  }

  body{
    color: var(--medium-gray);
  }

  h1 {
    color: var(--dark-gray);
    @apply text-2xl font-bold lg:text-4xl mb-4 lg:mb-6;
  }

  h2 {
    color: var(--dark-gray);
    @apply text-4xl opacity-70 m-2;
  }

  h3 {
    color: var(--dark-gray);
    @apply text-lg opacity-70 m-2;
  }

  h4 {
    color: var(--dark-gray);
    @apply opacity-70 m-2;
  }

  .form-wrapper {
    @apply flex flex-col items-center gap-2 shadow-lg border-t-yellow-500 border-t-4 w-[20rem] rounded-sm p-8
  }

  .center-form{
    @apply flex items-center justify-center h-[calc(100vh-8rem)]
  }

  .yellow-btn {
    @apply bg-yellow-500 text-white w-fit mt-2 px-4 rounded-sm capitalize py-1 hover:bg-yellow-600 hover:cursor-pointer disabled:cursor-not-allowed disabled:bg-yellow-400
  }

  .outlet {
    @apply bg-white shadow-xl p-4 rounded
  }
}

.exercise-card {
  perspective: 1000px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card-face {
  border-radius: 10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
  overflow: hidden;
}

.exercise-card.flipped {
  transform: rotateY(180deg);
}

.exercise-card {
  perspective: 1000px;
  width: 100%;
  height: 100%;
  position: relative;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}



@media (prefers-reduced-motion: no-preference) {
  .exercise-card {
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
 
